BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Sets up clock + sets frequency
LOCATE COMP "clock" SITE "G2";
IOBUF  PORT "clock" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clock" 25 MHZ;

# Sets up reset button
LOCATE COMP "reset_n" SITE "D6";
IOBUF  PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS33;

### Hint: Outputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


LOCATE COMP "led[0]" SITE "B2";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[1]" SITE "C2";
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[2]" SITE "C1";
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[3]" SITE "D2";
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[4]" SITE "D1";
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[5]" SITE "E2";
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[6]" SITE "E1";
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "led[7]" SITE "H3";
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "btn_left" SITE "U1";
IOBUF  PORT "btn_left" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "btn_right" SITE "H16";
IOBUF  PORT "btn_right" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "btn_up" SITE "R18";
IOBUF  PORT "btn_up" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "btn_down" SITE "V1";
IOBUF  PORT "btn_down" PULLMODE=DOWN IO_TYPE=LVCMOS33;


# --- Seven Segment Display on J2 ---

# USER CHOSEN PINS (Bottom Row)
# Segment E (AE) -> 17+
LOCATE COMP "segment[4]" SITE "L16";
IOBUF  PORT "segment[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Segment F (AF) -> 16+
LOCATE COMP "segment[5]" SITE "N16";
IOBUF  PORT "segment[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Segment G (AG) -> 15+
LOCATE COMP "segment[6]" SITE "N17";
IOBUF  PORT "segment[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


# Segment A (AA) -> Board Label "24+" (GP24)
LOCATE COMP "segment[0]" SITE "C16";
IOBUF  PORT "segment[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Segment B (AB) -> Board Label "23+" (GP23)
LOCATE COMP "segment[1]" SITE "B17";
IOBUF  PORT "segment[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Segment C (AC) -> Board Label "22+" (GP22)
LOCATE COMP "segment[2]" SITE "B15";
IOBUF  PORT "segment[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Segment D (AD) -> Board Label "21+" (GP21) 
LOCATE COMP "segment[3]" SITE "C18";
IOBUF  PORT "segment[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Segment E (AE) -> Board Label "17+" (GP17)
LOCATE COMP "segment[4]" SITE "L16";
IOBUF  PORT "segment[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Segment F (AF) -> Board Label "16+" (GP16)
LOCATE COMP "segment[5]" SITE "N16";
IOBUF  PORT "segment[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Segment G (AG) -> Board Label "15+" (GP15)
LOCATE COMP "segment[6]" SITE "N17";
IOBUF  PORT "segment[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# Digit Select (CAT) on 14+
LOCATE COMP "digit_select" SITE "U18";
IOBUF  PORT "digit_select" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


### Hint: Inputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=DOWN IO_TYPE=LVCMOS33;